* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  /* text-decoration: none; */
}
body {
  background-color: #eef8ff;
}
footer {
  width: 100%;
  /* position: absolute; */
  bottom: 0;
  background: linear-gradient(to right, #0a0a0a, #febd59);
  color: white;
  padding: 60px 0 25px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
  margin-top: 80px;
}
.row {
  width: 85%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
}
.col {
  flex-basis: 25%;
  padding: 10px;
}
.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
  flex-basis: 25%;
}
.logo {
  width: 80px;
  margin-bottom: 30px;
}
.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.col {
  margin-top: 10px;
}
.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
}
ul li a {
  text-decoration: none;
  color: white;
}
form {
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  margin-bottom: 50px;
}
form .bi {
  font-size: 18px;
  margin-right: 10px;
}
form input {
  width: 100%;
  background: transparent;
  color: #ccc;
  border: 0;
  outline: none;
}
form button {
  background: transparent;
  border: 0;
  outline: none;
  cursor: pointer;
}
form button .bi {
  font-size: 16px;
  color: chocolate;
}

.social-icons .bi {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: rgb(251, 248, 248);
}
hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid#ccc;
  margin: 20px 0;
}
.copyright {
  text-align: center;
}
.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  bottom: -10px;
  top: 32px;
  left: 0;
  overflow: hidden;
}
.underline span {
  width: 15px;
  height: 5px;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}
h4 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}
@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100px;
  }
}
@media (max-width: 700px) {
  footer {
    bottom: unset;
  }
  .col {
    flex-basis: 100%;
  }
  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 15%;
    flex-basis: 100%;
  }
}

.content {
  position: absolute;
  top: 50%;
  right: 50px;
}
.content h1 {
  color: white;
}
h2 {
  font-size: 50px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Times New Roman", Times, serif;
}
h2 span {
  color: #f50;
  text-shadow: 1px 1px grey;
  font-family: "Times New Roman", Times, serif;
}
p {
  color: white;
  margin-top: 10px;
  font-size: 11px;
}

.content button:hover {
  scale: 1.1;
}
form input {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-sizing: border-box;
}
body {
  background-color: #36200a;
}
footer {
  width: 100%;
  /* position: absolute; */
  bottom: 0;
  background: linear-gradient(to right, #0a0a0a, #febd59);
  color: white;
  padding: 60px 0 25px;
  border-top-left-radius: 125px;
  font-size: 13px;
  line-height: 20px;
  margin-top: 80px;
}
.row {
  width: 85%;
  margin: auto;
  /* display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between; */
}

.col {
  flex-basis: 25%;
  padding: 10px;
}
.col:nth-child(2),
.col:nth-child(3) {
  flex-basis: 15%;
  flex-basis: 25%;
}

footer .logo {
  width: 80px;
  margin-bottom: 30px;
}
.col h3 {
  width: fit-content;
  margin-bottom: 40px;
  position: relative;
}
.email-id {
  width: fit-content;
  border-bottom: 1px solid #ccc;
  margin: 20px 0;
}
ul li {
  list-style: none;
  margin-bottom: 12px;
}
ul li a {
  text-decoration: none;
  color: white;
}
.social-icons .bi {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  color: rgb(251, 248, 248);
}
hr {
  width: 90%;
  border: 0;
  border-bottom: 1px solid#ccc;
  margin: 20px 0;
}
.copyright {
  text-align: center;
}
.underline {
  width: 100%;
  height: 5px;
  background: #767676;
  border-radius: 3px;
  position: absolute;
  top: 32px;
  left: 0;
  overflow: hidden;
}
.underline span {
  width: 15px;
  height: 5px;
  background: #fff;
  border-radius: 3px;
  position: absolute;
  top: 0;
  left: 10px;
  animation: moving 2s linear infinite;
}
h4 {
  font-size: 14px;
  font-weight: 500;
  margin-top: 5px;
}
@keyframes moving {
  0% {
    left: -20px;
  }
  100% {
    left: 100px;
  }
}
@media (max-width: 700px) {
  footer {
    bottom: unset;
  }
  .col {
    flex-basis: 100%;
  }
  .col:nth-child(2),
  .col:nth-child(3) {
    flex-basis: 15%;
    flex-basis: 100%;
  }
}
